.newsForm, .container, .header, .sidebar, .footer, .oneNews,
    .newsMessage, .editNews, textarea {
    font: normal 16px Arial, Helvetica, sans-serif;
    /*border: 3px solid black;*/
}

div.myDiv {
    border: 1px solid white;
    width: 68px;
    height: 68px;
    display: inline-block;
    line-height: 68px;
    text-align: center;
    position: relative;
    background-color: #98bf21;
    color: white;
}

.container {
    padding-left: 500px;
    padding-top: 100px;
    margin: 0 0 10 0px;
}

.hot-container p { margin-top: 10px; }
a { text-decoration: none; margin: 0 0px; }

.hot-container {
    min-height: 100px;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

a.btn {
    width: 76px;
    text-align: center;
    margin-left: 500px;
    display: inline-block;
    color: #666;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}

a.btn.ask {
    margin-left: 0px;
}

a.btn:hover {
    background-color: #e3e3e3;
    border-color: rgba(0,0,0,0.5);
}
    
a.btn:active {
    background-color: #CCC;
    border-color: rgba(0,0,0,0.9);
}